{% extends 'base.html' %}
{% load static %}
{%block title %}Usuarios{%endblock title %}

{%block titulo %}
Usuários
{%endblock titulo %}

{% block conteudo %}
        <div class="buscarButtonColuna">

     
        <div class='buttoncadastrar'>

        <div><a href="{% url 'create'%}"><button class="btn btn-success" type="button">Cadastrar Usuário</button><a/>

        </div>

        </div>
        </div>

        <div class="table-content table-responsive text-center">

                <table class="table table-hover">
                        <thead class="table-dark">
                            <tr>
            
                                <th>Usuário</th>
                                <th>Nome</th>
                                <th>sobrenome</th>
                                <th colspan="3">Operações</th>
                            </tr>
                        </thead>

                        <tbody class='table-light'>
                            {% for usuario in usuarios %}
                                <tr>
                    
                                    <td>{{ usuario.username}}</td>
                
                                    <td>{{ usuario.first_name}}</td>
                                
                                    <td>{{ usuario.last_name }}</td>

                                    <td><a href="{% url "ediuser" usuario.id %}"><button type="button" class="btn btn-secondary btn-sm">Editar</button></td></a><td>

                                    <td><a href="{% url "excUser" usuario.id %}">
                                        <button  type="button" class="btn btn-danger">
                                            Remover

                                        </button>
                                    </td>
                                </a>
                                
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
        </div>
{% endblock conteudo %}