{% extends 'base.html' %}
{% load static %}

{% block title %}Editar produto{% endblock title %}
{% block titulo %}
Editar produto: {{ produto.nome }}
{% endblock titulo %}
{% block conteudo %}

<form method="post" enctype="multipart/form-data" class="mt-4">
    {% csrf_token %}
    
    <div class="input-group mb-4">
        <span id="basic-addon1" class="col-sm-2 col-form-label">Nome:</span>
        <input type="text" name='nome' value="{{ produto.nome }}" class="form-control" required>
    </div>

    <div class="input-group mb-4">
        <span id="basic-addon1" class="col-sm-2 col-form-label">Descrição:</span>
        <input type="text" name='descricao' value="{{ produto.descricao }}" class="form-control" required>
    </div>

    <div class="input-group mb-4">
        <span id="basic-addon1" class="col-sm-2 col-form-label">Preço:</span>
        <input type="text" name='preco' value="{{ produto.preco }}" class="form-control" required>
    </div>

    <div class="input-group mb-4">
        <span id="basic-addon1" class="col-sm-2 col-form-label">Preço de venda:</span>
        <input type="text" name='precovenda' value="{{ produto.precovenda }}" class="form-control" required>
    </div>

    <!-- Adicione os campos adicionais aqui -->
    <div class="input-group mb-4">
        <span id="basic-addon1" class="col-sm-2 col-form-label">Estoque Mínimo:</span>
        <input type="text" name='estoquemin' value="{{ produto.estoquemin }}" class="form-control" required>
    </div>

    <div class="input-group mb-4">
        <span id="basic-addon1" class="col-sm-2 col-form-label">NCM:</span>
        <input type="text" name='ncm' value="{{ produto.ncm }}" class="form-control" required>
    </div>

    <div class="input-group mb-4">
        <span id="basic-addon1" class="col-sm-2 col-form-label">Categoria:</span>
        <select name="categoria" class="form-select" required>
            {% for categoria in categorias %}
                <option value="{{ categoria.id }}" {% if categoria.id == produto.categoria.id %}selected{% endif %}>{{ categoria.nome }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="input-group mb-4">
        <span id="basic-addon1" class="col-sm-2 col-form-label">Fornecedor:</span>
        <select name="fornecedor" class="form-select" required>
            {% for fornecedor in fornecedores %}
                <option value="{{ fornecedor.id }}" {% if fornecedor.id == produto.fornecedor.id %}selected{% endif %}>{{ fornecedor.razaosocial }}</option>
            {% endfor %}
        </select>
    </div>

    <div id="contforncedor">
        <button class="w-25 btn btn-lg btn-primary mx-auto" type="submit">Salvar</button>
    </div>
</form>
{% endblock conteudo %}
